[Desktop Entry]
Name=Pwsh Vault Password Manager
GenericName=Pwsh Vault Password Manager
Comment=Basic Password Manager written in Bash+Dmenu
Comment[es]=Gestor de claves basico escrito en Bash+Dmenu
Exec=/usr/bin/pwsh-vault
Terminal=false
Icon=/var/lib/pwsh-vault/icon/pwsh-vault.png
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;

